BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33 ;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33 ;
LOCATE COMP "uart_rx" SITE "K1" ;
LOCATE COMP "uart_tx" SITE "K2" ;
LOCATE COMP "clk" SITE "L19" ;
SYSCONFIG MCCLK_FREQ=19.4 CONFIG_IOVOLTAGE=3.3 CONFIG_MODE=JTAG ;
